:root {
    --primary-font: "Poppins", sans-serif;;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100%;
    height: 100vh;
    background-image: url("../img/bg-header.png");
    background-size: cover;
}

/* apuntamos a la barra de navegacion que esta dentro de header */



header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    gap: 30px;
}

header ul a {
    text-decoration: none;
    font-family: var(--primary-font);
    color: #FFFFFF;
    transition: .5s;
}


header ul a:nth-child(1) {
    border-bottom: 1px solid #FFFFFF;
}
    

header ul a:hover {
    border-bottom: 1px solid #FFFFFF;
}

#hero {
    text-align: center;
    margin-top: 200px;
}

#hero h2{
    font-family: var(--primary-font);
    font-size: 60px;
    text-transform: uppercase;
    color: yellow;
}

#hero h1{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
}

#hero button {
    padding: 20px;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    color: #999;
    background: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 60px;
    cursor: pointer;
}

#planes {
    font-family: var(--primary-font);
    text-align: center;
    padding: 100px;
}

#planes h2 {
    font-size: 50px;
}

#planes p {
    margin: 30px 0 60px 0;
    font-size: 18px;
}

#planes p span {
    font-weight: bold;
}

.container_articles_planes {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 256px;
}

.img_container h3 {
    position: absolute;
    color: yellow;
    text-align: center;
    text-transform: uppercase;
}


#destinos {
    background: url("../img/bg-destinos.png");
    background-size: cover;
    padding: 100px 100px 50px 100px;
}

#destinos h2 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 50px;
    color: yellow;
    text-align: center;
    padding-bottom: 50px;
}

.container_articles_destinos {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

.container_articles_destinos article {
    width: 356px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container_articles_destinos h3 {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

#contact {
    background: yellow;
    text-align: center;
    padding: 100px;
}

#contact h2 {
    font-size: 50px;
    font-family: var(--primary-font);
    padding-bottom: 20px;
}

#contact p {
    font-size: 18px;
    font-family: var(--primary-font);
    padding-bottom: 40px;
}

.inputs_form {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.inputs_form input, 
.inputs_form select {
    width: 300px;
    padding: 10px;
}

.inputs_form input::placeholder {
    font-family: var(--primary-font);
}

.inputs_form:nth-child(2) {
    padding-bottom: 40px;
}

form button {
    padding: 5px 30px;
    font-family: var(--primary-font);
    font-size: 20px;
    background: #b9b861;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

footer {
    background: #000000;
    padding: 50px;
    text-align: center;
}

footer p {
    color: #FFFFFF;
    font-family: var(--primary-font);
    padding-bottom: 10px;
    font-size: 18px;
}